body {
  background-color: #f5b400;
  font-family: Arial, sans-serif;
  padding: 10px;
}

noscript {
  text-align: center;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.reversed-row-container {
  display: flex;
  flex-direction: row-reverse;
}

.column-container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f58b00;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

header > div > h3 {
  padding-right: 10px;
}

main {
  background-color: #009926;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

.middle-item {
  background-color: #85be00;
  margin: 10px;
  padding: 10px;
  height: fit-content;
  text-align: center;
}

footer {
  position: fixed;
  padding-bottom: 20px;
  bottom: 0;
}

.github-logo {
  background-color: black;
  height: 2em;
  width: 2em;
  transform: translateY(0.8em);
}
