body {
  background-color: #f5b400;
  font-family: Arial, sans-serif;
  padding: 5px;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #f58b00;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.middle-container {
  justify-content: space-between;
  padding: 0px;
  padding-top: 20px;
}

.middle-item {
  background-color: #85be00;
}

.middle-left-container {
  align-items: center;
}

/* A green box */
.box-item {
  padding-left: 30px;
  padding-right: 30px;
  height: fit-content;
}

.reset-button {
  padding-top: 30px;
}

.github-logo {
  background-color: black;
  width: 50px;
  height: 50px;
}
